<app-home></app-home>
<app-about></app-about>

<a [routerLink]="['']">Home</a>
<span> - </span>
<a [routerLink]="['lazy']">Lazy Module</a>
<main class="main">
  <router-outlet />
</main>
<h2>Pruebas de concepto</h2>
<h3>En Angular 8 y anteriores</h3>
<p>No se utiliza el objeto de configuración del decorador Injectable</p>
<hr />
<p>Service Random provided in the module App:</p>
<pre>
  AppModule - NgModule  providers: [RandomService]
</pre>
<hr />
<p>Service Random2 provided in the modules:</p>
<pre>
  EachModule - NgModule   providers: [Random2Service]
</pre>
<!-- <p>Service Random3 provided in the components:</p>
<pre>
  Component  providers: [Random2Service]
</pre> -->
